@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --bg-color: #4881a2;
    --bg-color2: #335e76;
    --color-text: #15171d;
    --color-text2: #d9d9d9;
    --color-details: #05adc3;
    --color-details2: #efca09;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VT323", Arial, Helvetica, sans-serif;
    color: var(--color-text2);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: var(--color-text);
    margin-bottom: 60px;
}

.textoResponsivo {
    font-size: clamp(1.6em, 0.5em + 1vw, 1em);
    text-indent: 30px;
    text-align: justify;
    line-height: 1.7;
    max-width: 80%;
    font-weight: normal;
}

.tituloH2, 
.tituloH3,
.subTexto {
    font-size: 2.7rem;
    color: var(--color-details);
    margin: 30px 0;
    font-weight: normal;
    max-width: 80%;
    text-align: center;
}

.tituloH3 {
    font-size: 2rem;
}

.subTexto {
    font-size: clamp(1.2em, 0.5em + 1vw, 1em);
}

.image img {
    max-width: 100%;
    margin-inline: auto;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5%;
    margin: 20px 0;
}

/* NAVBAR */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    transition: all .3s;
    background: var(--bg-color);
    overflow: hidden;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
    padding: 8px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-text2);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 6px 20px;
}

nav ul li a:hover,
nav ul li a.active {
    border-radius: 30px;
    background: var(--color-text);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo p {
    color: var(--color-text2);
    font-size: 2.5rem;
    font-weight: normal;
    margin-left: 20px;
    margin-top: 25px;
}

#menu-icon {
    position: absolute;
    right: 15%;
    top: 26%;
    font-size: 35px;
    color: var(--color-text2);
    cursor: pointer;
    z-index: 10001;
    display: none;
}


/* BG */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/gamificacion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* MEDIAS */
@media (max-width: 1300px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .5s;
    }
    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all .2s;
    }
    .navbar.open {
        right: 0%;
    }
}

::-webkit-scrollbar {
    width: 6px;
    background-color: var(--color-text);
    border: 5px solid var(--color-text);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-details);
    border-radius: 50px;
}